@model OrderManagementSystem.Models.OrderBasedBilling

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OrderBasedBilling</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillingAccount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingAccount.BillingAccountId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderBasedCharge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderBasedCharge.OrderChargeId)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
