@model OrderManagementSystem.Models.OrderBasedCharge

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OrderBasedCharge</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCharged)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCharged)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Order)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Charge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Charge.ChargeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.OrderBasedChargeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
